<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="LeSolitaireDB" providerName="System.Data.ProviderName"
     connectionString="Server=localhost;Port=3306;Database=test;Uid=root;SslMode=Preferred;Pwd=OSACpwd123!;" />
  </connectionStrings>
</configuration>